<!-- Sidebar scroll-->
<div>
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav scroll-sidebar container-fluid">
    <ul id="sidebarnav">

      <li class="sidebar-item">
        <a class="sidebar-link waves-effect waves-dark sidebar-link active" href="#" aria-expanded="false"><iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon><span class="hide-menu">Sample Page</span></a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Others</span>
      </li>
     
      <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><iconify-icon icon="solar:align-left-line-duotone"></iconify-icon><span class="hide-menu">Multi level dd</span></a>
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                item 1.1</span></a>
          </li>
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                item 1.2</span></a>
          </li>
          <li class="sidebar-item">
            <a class="has-arrow sidebar-link" href="javascript:void(0)" aria-expanded="false"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
              <span class="hide-menu">Menu 1.3</span></a>
            <ul aria-expanded="false" class="collapse second-level">
              <li class="sidebar-item">
                <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                    item 1.3.1</span></a>
              </li>
              <li class="sidebar-item">
                <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                    item 1.3.2</span></a>
              </li>
              <li class="sidebar-item">
                <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                    item 1.3.3</span></a>
              </li>
              <li class="sidebar-item">
                <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span class="hide-menu">
                    item 1.3.4</span></a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link"><iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon><span
                class="hide-menu"> item 1.4</span></a>
          </li>
        </ul>
      </li>
     

    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->

