
  <div class="py-3 px-4 bg-primary">
    <div class="mb-0 fs-6 fw-bold text-white">Notifications</div>
    <div class="mb-0 fs-2 fw-medium text-white">You have 4 Notifications</div>
  </div>
  <div class="message-body" data-simplebar>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center justify-content-between dropdown-item gap-3   justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-secondary-subtle rounded round-40 d-flex align-items-center justify-content-center fs-6 text-secondary">
        <iconify-icon icon="solar:widget-3-line-duotone"></iconify-icon>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Luanch Admin</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:30 AM</span>
        </div>
        <span class="fs-3 d-block text-truncate text-muted">Just see the my new admin!</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center dropdown-item gap-3  justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-primary-subtle rounded round-40 d-flex align-items-center justify-content-center fs-6 text-primary">
        <iconify-icon icon="solar:calendar-mark-line-duotone"></iconify-icon>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Event today</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:10 AM</span>
        </div>

        <span class="fs-3 d-block text-truncate text-muted">Just a reminder that you have event</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center dropdown-item gap-3  justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-info-subtle rounded round-40 d-flex align-items-center justify-content-center fs-6 text-info">
        <iconify-icon icon="solar:settings-minimalistic-line-duotone"></iconify-icon>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Settings</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:08 AM</span>
        </div>
        <span class="fs-3 d-block text-truncate text-muted">You can customize this template as you want</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center dropdown-item gap-3  justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-warning-subtle rounded round-40 d-flex align-items-center justify-content-center fs-6 text-warning">
        <iconify-icon icon="solar:link-circle-line-duotone"></iconify-icon>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Luanch Admin</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:30 AM</span>
        </div>
        <span class="fs-3 d-block text-truncate text-muted">Just see the my new admin!</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center dropdown-item gap-3  justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-success-subtle rounded round-40 d-flex align-items-center justify-content-center">
        <i data-feather="calendar" class="feather-sm fill-white text-success"></i>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Event today</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:10 AM</span>
        </div>
        <span class="fs-3 d-block text-truncate text-muted">Just a reminder that you have event</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center dropdown-item gap-3  justify-content-between border-bottom">
      <span
        class="flex-shrink-0 bg-primary-subtle rounded round-40 d-flex align-items-center justify-content-center">
        <i data-feather="settings" class="feather-sm fill-white text-primary"></i>
      </span>
      <div class="w-80 d-inline-block v-middle">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 ">Settings</h6>
          <span class="fs-2 text-nowrap d-block text-muted ">9:08 AM</span>
        </div>
        <span class="fs-3 d-block text-truncate text-muted">You can customize this template as you want</span>
      </div>
    </a>
  </div>
  <div class="p-3">
    <a class="d-flex btn btn-primary rounded align-items-center justify-content-center gap-2" href="javascript:void(0);">
      <span>Check all Notifications</span>
      <iconify-icon icon="solar:alt-arrow-right-outline" class="iconify-sm"></iconify-icon>
    </a>
  </div>
