
<div class="py-3 px-4 bg-secondary">
  <div class="mb-0 fs-6 fw-bold text-white">Messages</div>
  <div class="mb-0 fs-2 fw-medium text-white">You have 5 new messages</div>
</div>
<div class="message-body" data-simplebar>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-1.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mathew Anderson</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:30 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-muted"
        >Just see the my new admin!</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-2.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Bianca Anderson</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:10 AM</span>
      </div>

      <span class="fs-3 d-block text-truncate text-muted"
        >Just a reminder that you have event</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-3.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Andrew Johnson</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:08 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-muted"
        >You can customize this template as you want</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-4.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mark Strokes</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:30 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-muted"
        >Just see the my new admin!</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-5.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mark, Stoinus & Rishvi..</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:10 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-muted"
        >Just a reminder that you have event</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span class="user-img position-relative d-inline-block">
      <img
        src="@@webRoot/assets/images/profile/user-6.jpg"
        alt="user"
        class="rounded w-100 round-40"
      />
      <span
        class="profile-status bg-success position-absolute rounded"
      ></span>
    </span>
    <div class="w-80 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Settings</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:08 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-muted"
        >You can customize this template as you want</span
      >
    </div>
  </a>
</div>
<div class="p-3">
  <a class="d-flex btn btn-secondary rounded align-items-center justify-content-center gap-2" href="javascript:void(0);">
    <span>Check all Messages</span>
    <iconify-icon icon="solar:alt-arrow-right-outline" class="iconify-sm"></iconify-icon>
  </a>
</div>
