// ----------------------------------------------
// Variables Style
// ----------------------------------------------

$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #a1aab2 !default;
$gray-600: #8898aa !default;
$gray-700: #525f7f !default;
$gray-800: #343a40 !default;
$gray-900: #333747 !default;
$black: #000 !default;
$body-color: #67757c !default;

// Color
$blue: #2cabe3 !default;
$indigo: #7547FF !default;
$purple: #1C325E !default;
$pink: #e83e8c !default;
$red: #ff5050 !default;
$orange: #fb8c00 !default;
$yellow: #ffc36d !default;
$green: #2cd07e !default;
$teal: #20c997 !default;
$cyan: #4fc3f7 !default;
$primary: #F33E5A !default;
$secondary: #1781FD !default;
$text-muted: $gray-500 !default;
$inverse: #F6F9FC !default;

// Main Colors
$primary: $primary !default;
$secondary: $secondary !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$muted: $gray-500 !default;
$dark: #20222a !default;
$dark-light: $gray-600 !default;
$light-gray: $gray-100 !default;
$light-indigo: #c6cdfd !default;
$cyan: $cyan !default;
$orange: $orange !default;


// light colors
$primary-bg-subtle: #c6cdfd !default;
$secondary-bg-subtle: #dde1e4 !default;
$success-bg-subtle: #b2ffd9 !default;
$info-bg-subtle: #cfecfe !default;
$warning-bg-subtle: #FFFBEB !default;
$danger-bg-subtle: #ffcaca !default;
$light-bg-subtle: #F6F6F6 !default;
$dark-bg-subtle: $gray-600 !default;

// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "indigo": $indigo,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "purple": $purple,
  "cyan": $cyan,
  "inverse": $inverse,
  "light-indigo": $light-indigo,
) !default;


$primary-text-emphasis: shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis: shade-color($success, 60%) !default;
$info-text-emphasis: shade-color($info, 60%) !default;
$warning-text-emphasis: shade-color($warning, 60%) !default;
$danger-text-emphasis: shade-color($danger, 60%) !default;
$light-text-emphasis: $gray-100 !default;
$dark-text-emphasis: $gray-600 !default;

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 12px,
  7: 30px,
  8: 10px,
  9: 20px,
) !default;

$utilities: () !default;
$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      85: 85%,
      100: 100%,
      auto: auto,
    ),
  ),
);


// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$text-muted: $muted !default;
$grid-gutter-width: 24px !default;

// Buttons
$btn-padding-y: 8px !default;
$btn-padding-x: 16px !default;
$btn-font-weight: 500 !default;
$btn-border-radius: 8px !default;
$btn-box-shadow: unset !default;
$btn-font-size: 14px !default;
$btn-border-radius-lg: 9px !default;


// Font Family
$font-size-base: 0.875rem;
$font-family-sans-serif:'Manrope', sans-serif !default;
$font-weight-medium: 500 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-base: 400 !default;

$h1-font-size: 36px !default;
$h2-font-size: 30px !default;
$h3-font-size: 24px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 24px,
  8: 30px,
  9: 36px,
  10: 40px,
  11: 45px,
  12: 48px,
  13: 55px,
) !default;
$font-size-base: 0.875rem !default;

// display
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.75rem,
) !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$main-body-bg: #EDF1F5 !default;
$body-bg: #fff !default;
$body-color: #3e444f  !default;

// Heading
$headings-color: $gray-900 !default;
$headings-font-weight: 600 !default;

// Border Color
$border-color: #ebf1f6 !default;

// Box Shadow
$box-shadow: 0px 2px 9px 0px rgba(169, 184, 200, 0.2) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: unset !default;

// Card
$card-bg: $white !default;
$card-title-color: $gray-900 !default;
$card-subtitle-color: $text-muted !default;
$card-spacer-y: 20px !default;
$card-spacer-x: 20px !default;
$card-border-width: 0px !default;
$card-border-color: #ebf1f6 !default;
$card-border-radius: 5px;

// Border Radius
$border-radius: 5px !default;
$border-radius-sm: 3px !default;
$border-radius-md: 6px !default;
$border-radius-lg: 12px !default;
$border-radius-xl: 15px !default;

// Badges
$badge-font-size: 12px !default;
$badge-font-weight: $font-weight-normal !default;
$badge-padding-y: 5px !default;
$badge-padding-x: 10px !default;
$badge-border-radius: 4px;

// Progressbar
$progress-height:5px !default;
$progress-bg: #f1f1f1 !default;

// Table
$table-bg:transparent !default;
$table-color:$body-color;
$table-cell-padding-y: 16px !default;
$table-cell-padding-x: 16px !default;
$table-th-font-weight: 600 !default;
$table-striped-bg: $gray-200 !default;
$table-hover-bg: $gray-100 !default;
$table-border-color: $border-color !default;

// Tabs
$nav-link-color: $dark !default;
$nav-link-hover-color: $dark !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: $primary !default;
$nav-tabs-border-radius: 10px !default;
$nav-tabs-border-width: 0 !default; 
$nav-link-font-size: 16px !default;
$nav-link-font-weight: $font-weight-normal !default;

// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-bg: $dark;

// Input
$form-label-color: $gray-600;
$form-label-font-weight: 600;
$form-select-indicator-padding: 38px;
$form-select-border-radius: 5px !default;
$form-select-box-shadow: unset !default;
$input-border-radius: 5px !default;
$input-focus-border-color:$dark !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $light !default;
$custom-select-indicator: url(../../assets/images/custom-select.png) !default;
$form-select-bg-size:12px 12px; // In pixels because image dimensions
$input-border-color: #9ea7b7 !default;
$input-bg: $white !default;
$input-color: $body-color !default;
$input-padding-y: 8px;
$input-padding-x: 16px;
$form-check-input-width: 1.313em;
$form-check-min-height: 1.313em;
$form-check-input-bg:#eaedf5 !default; 
$form-check-input-border: 1px solid #eaedf5;
$form-check-input-focus-box-shadow: none !default; 
$input-group-addon-border-color: $input-border-color;

$list-group-bg:transparent !default;
$list-group-border-radius: 8px;

// Paganation
$pagination-active-color: $white !default;
$pagination-active-bg: $primary !default;

// Dropdown
$dropdown-border-radius:5px !default;
$dropdown-width: 300px !default;
$dropdown-border-width: 0 !default;
$dropdown-item-padding-y: 10px !default;
$dropdown-link-hover-bg: rgba(0,0,0,.025) !default;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-active-color: $dark;
$dropdown-bg:$white;
$dropdown-link-color:$dark !default;
$dropdown-box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
  rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$link-color: $dark !default;
$dropdown-spacer: 15px !default;

$link-hover-color: $primary !default;

// Offcanvas
$offcanvas-border-width: 0 !default;
$offcanvas-horizontal-width: 330px !default;
$offcanvas-bg-color:$white !default;

// Modal
$modal-content-border-width: 0 !default;
$modal-content-bg:#fff !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.2) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.2) !default;

// Breadcrumb
$breadcrumb-font-size: 14px;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding-x: 0.5rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-500;
$breadcrumb-divider: quote("/");
$breadcrumb-divider-flipped: $breadcrumb-divider;

$list-group-color:$dark !default;

// Accordion
$accordion-padding-y: 1.25rem;
$accordion-padding-x: 2rem;
$accordion-button-color: $dark;
$accordion-button-bg:$white;
$accordion-bg:$white;
$accordion-body-padding-y: 1rem;
$accordion-border-color: $border-color;
$accordion-button-focus-border-color:transparent !default;
$accordion-button-focus-box-shadow:transparent !default;
$accordion-button-active-color: $dark;
$accordion-icon-color: #0000008a;
$accordion-icon-active-color: #0000008a;

// toast
$toast-border-width: 8px !default;
// $toast-box-shadow: $card-box-shadow;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1400px,
) !default;


$hr-border-color: $border-color !default;
$hr-opacity: 1 !default;