<div class="brand-logo d-flex align-items-center justify-content-between">
  <a href="@@webRoot/material/index.html" class="text-nowrap logo-img">
    <b class="logo-icon">
      <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
      <!-- Dark Logo icon -->
      <img
        src="@@webRoot/assets/images/logos/logo-icon.svg"
        alt="homepage"
        class="dark-logo"
      />
      <!-- Light Logo icon -->
      <img
        src="@@webRoot/assets/images/logos/logo-light-icon.svg"
        alt="homepage"
        class="light-logo"
      />
    </b>
    <!--End Logo icon -->
    <!-- Logo text -->
    <span class="logo-text">
      <!-- dark Logo text -->
      <img
        src="@@webRoot/assets/images/logos/logo-text.svg"
        alt="homepage"
        class="dark-logo ps-2"
      />
      <!-- Light Logo text -->
      <img
        src="@@webRoot/assets/images/logos/logo-light-text.svg"
        class="light-logo ps-2"
        alt="homepage"
      />
    </span>
  </a>
</div>


