
.nav-icon-hover {
  position: relative;
  transition: all 0.3s ease-in-out;
  
  &:hover {
   
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      border-radius: $border-radius;
      padding: 0 25px;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      background: rgba(0,0,0,.05);
      @media (max-width:1199px) {
        background: transparent;
      }
    }
  }
}

.feather-sm {
  width: 18px;
  height: 18px;
}

.feather-lg {
  width: 28px;
  height: 28px;
}

.feather-xl {
  width: 35px;
  height: 35px;
}